.footer{
   padding-top: 77px; 
    border-top: 1px solid $gray;
    padding-bottom: 20px;

    .logo{
        width: 179px;
        height: 48px;
        @media (max-width:990px) {
            margin: 0 auto 40px;
             
         }
    }
}
.box-footer{
    display: flex;
    justify-content: space-between;
    @media (max-width:990px) {
        flex-direction: column;
         
     }
    &-item{
        display: flex;
        justify-content: space-between;
        flex: 0 0 66.4%;
        @media (max-width: 1200px) {
            flex: 0 0 76%;
    
        }        
        @media (max-width:990px) {
           flex-direction: column;
            
        }
     
    }
}
.box-footer-list{
    font-size: 1.12rem;
    list-style-type: none;
    @media (max-width:440px){
        font-size: 0.85rem;
    }
    &__item{
       color: $gray ; 
       margin-bottom: 1.62rem;
       @media (max-width:990px) {
        margin-bottom: 1.2rem;

        }
    }
    &__mobile{
        @media (max-width:990px){
            display: flex;
            justify-content: space-between;
            max-width: 433px;
            margin: 0 auto;
        }
    }
    &__link{
        text-decoration: none !important;
        color: $gray ; 
        transition: 0.2s ease;
        &:hover{
            color: $orange !important;
            text-decoration: none !important;
        }
    }
    &__phone{
        font-size: 1.68rem;
        margin-bottom: 2.06rem;
    }
}

.box-footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 27px;
        @media (max-width:990px) {
            justify-content: center;
        
         }
    &__item{
        
    }
        &__link{
            text-decoration: none;
            background-position: center center;
            border: 2px solid #27300f;
            border-radius: 100%;
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            opacity: 0.8;
            transition: 0.2s ease;
            &:hover{
                opacity: 1;
            }
        }
       &__vk{
           background-image: url(../../../img/vk.svg);
           background-size: 23px 23px;
  

       }
       &__inst{
           background-image: url(../../../img/instagram.svg);
           background-size: 21px 22px;
           
            @media (max-width:990px) {
                margin-left: 20px;
                margin-right: 20px;
                 
             }
       }
       &__fb{
            background-image: url(./../../../img/facebook.svg);
            background-size: 23px 20px;
            
  
       }
    
}
.box-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    color: rgba($gray ,$alpha) ; 
    @media (max-width:990px){
        display: block;
    }
    &__text{
        color: #a6a8a4;
    }
    &__link{
        color: rgba($gray ,$alpha) ;
        text-decoration: none;
        &:hover{
            color: $gray;
        }
    }
}