.footer{
   padding-top: 77px; 
    border-top: 1px solid $gray;
    padding-bottom: 20px;

    .logo{
        width: 179px;
        height: 48px;
    }
}
.box-footer{
    display: flex;
    justify-content: space-between;
    &-item{
        display: flex;
        justify-content: space-between;
        flex: 0 0 66.4%;
    }
}
.box-footer-list{
    font-size: 1.12rem;
    list-style-type: none;
    &__item{
       color: $gray ; 
       margin-bottom: 1.62rem;
    }
    &__link{
        text-decoration: none;
        color: $gray ; 
        transition: 0.2s ease;
        &:hover{
            color: $orange;
        }
    }
    &__phone{
        font-size: 1.68rem;
        margin-bottom: 2.06rem;
    }
}

.box-footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 27px;
    &__item{
        
    }
        &__link{
            text-decoration: none;
            background-position: center center;
            border: 2px solid #27300f;
            border-radius: 100%;
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            opacity: 0.8;
            transition: 0.2s ease;
            &:hover{
                opacity: 1;
            }
        }
       &__vk{
           background-image: url(../../../img/vk.svg);
           background-size: 23px 23px;
  

       }
       &__inst{
           background-image: url(../../../img/instagram.svg);
           background-size: 21px 22px;
       }
       &__fb{
            background-image: url(./../../../img/facebook.svg);
            background-size: 23px 20px;
            
  
       }
    
}
.box-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    color: rgba($gray ,$alpha) ; 
    &__text{
        color: #a6a8a4;
    }
    &__link{
        color: rgba($gray ,$alpha) ;
        text-decoration: none;
        &:hover{
            color: $gray;
        }
    }
}